@using Microsoft.AspNetCore.Mvc.Localization

@model UI.Models.Authorization.Authorization
@inject IViewLocalizer Localizer
@inject UI.Utils.LocalizationService SharedLocaLizer


@using (Html.BeginForm("DetailReadOnly", "Authorization", FormMethod.Post, new { id = "formDetail" }))
{
    @Html.HiddenFor(x => x.EntityId)

    <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Localizer["AuthorizationName"]
                        @Html.TextBoxFor(x => x.AuthorizationName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2" style="float:right">
                <button class="btn btn-success" onclick="location.href = '@Url.Action("Detail", "Authorization",new {id=Model.EntityId })'" data-dismiss="modal" type="button">@Localizer["Edit"]</button>

            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $('.form-group').css('pointer-events', 'none');
</script>